$def with (name)
<html>
<title>Регистрация</title>
<head>
</head>
    <body>
    <form name="auth" method="get" action="/cdx">
        <h1> $name</h1>
        Логин
        <br>
        <input type="text" name="name" value="" size="30px" />
        <br>
        Пароль
        <br>
        <input type="password" name="passw" value="" size="30px" />
        <br>
        <input type="submit" value="Вход"/>
        <br>
        <br>
        <a href="/ru" name="ru" title="Новичек">Зарегистрируйте меня, я новенький!</a>
        <br>
    </form>
</body>
</html>
